/.vscode
/abc1
/AES.key
/build
/dist
/getoffset.py
/HelloWorld.exe
/HelloWorld1.exe
/Packer example.pdf
/Packer trong lây nhiễm virus.docx
/Packer-temp.py
/Packer.exe
/Packer.pdf
/Packer.spec
/petest
/putty.exe
/temp.exe
/test4.cpp
/__pycache__